RAW_DATA=
PARSED_DATA=
PORTAL_URL=
KC_TOKEN_URL=
KC_CLIENT_ID=
KC_CLIENT_SECRET=
RESOURCE_URI=
DEPLOYMENT_ID=
MODEL_NAME=
OAI_API_KEY=
BLOB_CONTAINER_NAME=
CONNECTION_STR=
SERVICE_NAME=
INDEX_NAME=
DATASOURCE_NAME=
SKILLSET_NAME=
INDEXER_NAME=
AZURE_API_KEY=