PORTAL_URL=
TENANT_ID=
LANDING=
USERNAME=
PASSWORD=
RESOURCE_URI=
DEPLOYMENT_ID=
MODEL_NAME=
OAI_API_KEY=
BLOB_CONTAINER_NAME=
CONNECTION_STR=
SERVICE_NAME=
INDEX_NAME=
DATASOURCE_NAME=
SKILLSET_NAME=
INDEXER_NAME=
AZURE_API_KEY=